/* OVERALL */
body {
    background-color: rgb(7, 46, 61);
    font-family: Andale Mono, monospace;
    padding: 30px;
}

h1 {
    color: #c3e4eefb;
    margin-top: 20px;
}

label {
    color: #c3e4eefb;
}


/* NAVIGTATION */
.nav {
    border: 1px solid #cccccc2d;
}

.navbar {
    display: flex;
    margin: 0 auto;
}

.navfont {
    color: rgb(61, 115, 136);
    transition: color 0.3s ease;
    margin: 0 15px;
    font-size: 25px;
}

.navfont:hover {
    color: #fafafafb;
}
